/* Set font to Arial for the whole app component */
:host {
  font-family: Arial, sans-serif;
}

/* Explicitly add background color for primary mat-raised-button */
button[mat-raised-button][color="primary"] {
  background-color: #1976d2;
  color: white;
}

button[mat-raised-button][color="primary"]:hover {
  background-color: #1565c0;
}

/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

