<app-header></app-header>
<app-app-bar></app-app-bar>

<link rel="stylesheet" href="app-table-styles.css">

<main>
  <section>
    <h2>Manage ride alongs</h2>
    <button mat-raised-button color="primary" style="margin-bottom: 2rem;">Create New Campaign</button>
  </section>

  <section>
    <label for="sortBy" style="width: 300px; display: block;">Sort By:</label>
    <select id="sortBy" name="sortBy">
      <option value="name">Name</option>
      <option value="status">Status</option>
      <option value="startDate">Start Date</option>
      <option value="endDate">End Date</option>
    </select>

    <br/>

    <label for="viewFilter" style="margin-top: 1rem; display: block;">View:</label>
    <select id="viewFilter" name="viewFilter" style="width: 300px; display: block;">
      <option value="all">All</option>
      <option value="pending">Pending</option>
      <option value="active">Active</option>
      <option value="approved">Approved</option>
      <option value="rejected">Rejected</option>
    </select>

    <!-- <h2>Campaign Details</h2> -->
    <table cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th>Campaign Id</th>
          <th>Campaign Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12345678</td>
          <td>Campaign 1</td>
          <td>2024-01-01</td>
          <td>2024-01-31</td>
          <td>Active</td>
          <td></td>
        </tr>
        <tr>
          <td>12345678</td>
          <td>Campaign 2</td>
          
          <td>2023-12-01</td>
          <td>2023-12-31</td>
          <td>Approved</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</main>

<app-footer></app-footer>
