<app-header></app-header>
<app-app-bar></app-app-bar>

<link rel="stylesheet" href="app-table-styles.css">

<main>
  <section>
    <h2>Manage ride alongs</h2>
    <button mat-raised-button color="primary" style="margin-bottom: 2rem;">Create New Campaign</button>
  </section>

  <section>
    <label for="sortBy" style="width: 300px; display: block;">Sort By:</label>
    <select id="sortBy" name="sortBy">
      <option value="name">Name</option>
      <option value="status">Status</option>
      <option value="startDate">Start Date</option>
      <option value="endDate">End Date</option>
    </select>

    <br/>


    <div class="example-container mat-elevation-z8">

      <mat-table #table [dataSource]="dataSource">

        <!-- Campaign Id Column -->
        <ng-container matColumnDef="campaignId">
          <mat-header-cell *matHeaderCellDef> Campaign Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.campaignId}} </mat-cell>
        </ng-container>

        <!-- Campaign Name Column -->
        <ng-container matColumnDef="campaignName">
          <mat-header-cell *matHeaderCellDef> Campaign Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.campaignName}} </mat-cell>
        </ng-container>

        <!-- StartDate Column -->
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
        </ng-container>

        <!-- EndDate Column -->
        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button color="primary">Edit</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  </section>
</main>

<app-footer></app-footer>
